body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
}

.navbar-brand img {
	width: 160px;
}

.btn.btn-primary {
	background-color: #fff;
	border: 3px solid #000;
	color: #000;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 15px;
}

hr {
	border-top: 3px solid #000 !important;
}

.btn.btn-primary:hover {
	background-color: #FC9D2C;
	border: 3px solid #FC9D2C;
	color: #fff;
	cursor: pointer;
}

footer#footer-pagina {
	border-top: 3px solid #000;
}

.nav-item a.nav-link {
	color: #000 !important;
}

.nav-item.active a.nav-link {
	color: #FC9D2C !important;
}

footer #nav-social a.nav-link {
	display: inline-table;
}

footer #nav-social a.nav-link:hover {
	color: #FC9D2C !important;
}

#obras_home .card-group .card {
	display: inline-block;
}

.card-columns {
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
}

/* Carousel */

.carousel-caption {
	bottom: unset;
	top: 45%;
}

/* OBRAS - Image Hover Overlay */

#obras .card {
	/*position: relative;*/
	/*width: 50%;*/
}

#obras .card-img {
	display: block;
	width: 100%;
	height: auto;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	/*background-color: #008CBA;*/
	background: -moz-linear-gradient(left, rgba(255,43,88,0.8) 0%, rgba(255,216,0,0.8) 100%) !important;
	background: -webkit-linear-gradient(left, rgba(255,43,88,0.8) 0%,rgba(255,216,0,0.8) 100%) !important;
	background: linear-gradient(to right, rgba(255,43,88,0.8) 0%,rgba(255,216,0,0.8) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff2b58', endColorstr='#ccffd800',GradientType=1 ) !important;
}

#obras .card:hover .card-img-overlay {
	opacity: 1;
}

#obras .card-text {
	color: white;
	font-size: 20px;
	/*position: absolute;
	top: 50%;
	left: 50%;*/
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


/* card-columns */


#obras_home .card {
	position: relative;
	display: inline-flex;
}

#obras_home .card .overlay {
	position: absolute;
	opacity: 0.7;
    background: -webkit-linear-gradient(left, rgba(255,43,88,0.8) 0%, rgba(255,216,0,0.8) 100%) !important;
	/*background: red;*/
	width: 100%;
	height: 100%;
}

.overlay h3 {
	position: absolute;
    top: 35px;
	bottom: auto !important;
	font-size: 22px;
}

#obras_home .card .overlay a {
	color: #fff;
	top: auto !important;
    bottom: 25px;
    position: absolute;
}

#obras_home .card .overlay a:hover {
	cursor: pointer;
	text-decoration: unset;
}

/*.card:hover .overlay:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0.2s;
    transition: opacity 0.5s 0.2s;
    background: -moz-linear-gradient(left, rgba(255,43,88,0.8) 0%, rgba(255,216,0,0.8) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(255,43,88,0.8) 0%,rgba(255,216,0,0.8) 100%) !important;
    background: linear-gradient(to right, rgba(255,43,88,0.8) 0%,rgba(255,216,0,0.8) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff2b58', endColorstr='#ccffd800',GradientType=1 ) !important;
}*/

